{% extends "base.html" %}


{% block content %}
<style>
        .error{color: red;}
</style>

<h1>Signup</h1>
    <form method= 'POST'>
        
        <p><label>Username
            <input type="text" name= "username" value= '{{username}}' /> 
        </label>
          <span class="error">{{name_error}}</span></p>
        <p><label>Password
            <input type="password" name= 'password'  />        
            <span class= "error">{{pass_error}}</span></p>
        <p><label>Verify Password
            <input type="password" name= 'verify' />
        </label>
        <span class="error">{{ver_error}}</span></p>
        <p><label>Email (optional)
            <input type="text" name= 'email' value= '{{email}}'/>
        </label>
        <span class="error">{{email_error}}</span></p>
        <input type="submit" value="submit query" />
    
    </form> 

{% endblock %}
     